* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "inter";
}
.wema-logo {
  margin-right: 50px;
  color: #981d87;
  font-weight: 600;
}
.navbar-nav {
  width: 100%;
  gap: 15px;
}

.nav-link {
  font-size: 14px;
}
.nav-link:hover {
  border-bottom: 2px solid #981d87;
}
.login-button {
  margin-left: auto !important;
  font-size: 15.5px;
  background-color: #981d87;
  color: white;
  border-radius: 20px;
  font-family: "inter Tight";
}
.login-button:hover {
  border: none;
  color: white;
}
.nav-2 {
  background-color: rgba(175, 173, 173, 0.084);
  border: 1px solid rgba(128, 128, 128, 0.21);
  padding: 10px 0;
}
.nav-2 ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navlink {
  padding: 15px 20px;
  text-decoration: none;
}
.navlink1 {
  margin-left: 10px;
}
.navitems {
  font-size: 13px;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  z-index: 100;
}
.dropdown a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 15px 15px;
}
.dropdown::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid white;
  position: absolute;
  top: -14px;
  left: 20px;
}
.dropdown a:hover {
  background-color: rgba(179, 142, 179, 0.3);
}
.navitems:hover {
  border-bottom: 2px solid #981d87;
}
.navitems:hover .dropdown {
  display: block;
}
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #981d87;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  margin-left: 450px;
}
.search-icon i {
  font-size: 15px;
}
.news-section {
  display: flex;
  border: 1px solid white;
}
.slider1,.slider3{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 550px; 
}

.slider1left img,
.slider1right img, .slider3left img, .slider3right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top; 
    display: block;
}
.slider4{
    display: flex;
    gap: 0;
    background-image: linear-gradient(#9C3398, #5A245E);
    justify-content: center;
    align-items: center;
     height: 550px; 
     width: 100%;
}
.slider4left{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.slider4right{
width: 60%;
}
.slider4right img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.slider4left h1{
    font-size: 56px;
    color: white;
 font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
}

.slider4left p {
    font-size: 14px;
    margin-bottom: 30px;
    /* line-height: 1.6; */
    max-width: 450px;
    color: white;
}

.slider4left button {
    background-color: white;
    color: #9C3398;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    align-self: flex-start;
    transition: all 0.3s ease;

}
.slider4left button:hover{
  background-color: transparent;
  color: white;
  border: 1px solid white;
   transform: scale(1.05);
}
.news {
  background-color: #ec49de;
  padding: 10px;
  color: white;
  font-weight: 600;
}
.news-carousel {
  background-color: #981d87;
  padding: 10px;
  width: 100%;
}

.mini-cards {
  background-color: rgba(128, 128, 128, 0.1);
  padding: 50px 0;
}
.quicklinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.mini-1 {
  display: block;
  width: 180px;
  background-color: white;
  padding: 13px 14px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.75em;
}
.mini-1 img {
  width: 40px;
  height: 40px;
  margin-bottom: 0.75rem;
}
.mini-1 p {
  margin: 0;
  font-size: 0.9rem;
  color: #6c757d;
}
.mini-1:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 5px rgb(173, 168, 168);
}
.products {
  padding: 50px 40px;
  position: relative;
}
.product-text {
  width: 50%;
}
.product-text h6 {
  font-weight: 700;
  color: #981d87;
}
.product-text h2 {
  font-weight: 600;
  font-family: "inter tight";
}
.product-text p {
  font-size: 13.5px;
}
.square {
  position: absolute;
  width: 0;
  height: 0;
  border: 55px solid #981d8813;
  top: 0;
  right: 250px;
}
.square-1 {
  position: absolute;
  width: 0;
  height: 0;
  border: 55px solid #981d8813;
  top: 110px;
  right: 360px;
}
.square-2 {
  position: absolute;
  width: 0;
  height: 0;
  border: 55px solid #981d8813;
  top: 110px;
  right: 0;
}
.card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 50px;
  width: 100%;
}
.product-cards {
  padding: 15px;
  background-color: rgba(236, 73, 222, 0.1);
  border: none;
  transition: all 0.5s ease-in-out;
}
.product-cards img {
  display: block;
  width: 100px;
  height: auto;
  margin: 20px auto;
}
.product-cards h4 {
  font-size: 21px;
  font-weight: 600;
}
.product-cards h6 {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.466);
}
.product-btn {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.product-cards:hover {
  transform: translateY(-20px);
  box-shadow: 0 4px 5px rgb(173, 168, 168);
}
.smebanking,
.custom-card,
.alatpay {
  position: relative;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
  padding: 30px;
}
.smebanking::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 180px;
  top: 20px;
  right: 20px;
  background-image: url(Assets/dot-background.svg);
}
.smebanking::after {
  content: "";
  position: absolute;
  width: 3%;
  height: 190px;
  top: 0;
  left: 0px;
  background-image: url(Assets/dot-background.svg);
}
.sme-img,
.custom-img,
.alat-img {
  width: 80%;
}
.sme-img img, .custom-img img{
  width: 100%;
  max-width: 900px;
}
.alat-img img{
  width: 100%;
  max-width: 900px;
}
.sme-text,
.custom-text,
.alat-text {
  width: 100%;
  margin-top: 50px;
  margin-right: 40px;
}
.sme-text img,
.custom-text img,
.alat-text img {
  width: 40px;
  margin-bottom: 10px;
}
.sme-text h6,
.custom-text h6,
.alat-text h6,
.testimonial h6,
.blog h6, .video h6 {
  color: #981d87;
  font-weight: 600;
  margin-bottom: 10px;
}
.sme-text h2,
.custom-text h2,
.alat-text h2 {
  font-size: 24px;
  font-weight: 600;
  font-family: "inter tight";
  word-spacing: 2px;
  margin-bottom: 10px;
}
.sme-text p,
.custom-text p,
.alat-text p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.568);
}
.sme-btn {
  padding: 15px 40px;
  border-radius: 30px;
  background-color: #981d87;
  color: white;
  border: none;
  margin-top: 15px;
}
.sme-btn svg {
  fill: white;
}
.sme-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border: none !important;
  transition: all 0.75em;
}
.sme-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.08);
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ec49de27;
  border-radius: 50%;
}
.background img {
  width: 30px;
}
.sme-card h5 {
  font-size: 17px;
  font-weight: 800;
  font-family: "inter tight";
  margin-top: 5px;
}
.sme-card p {
  font-size: 13.5px;
  color: rgba(0, 0, 0, 0.568);
}
.custom-img-s {
  margin-right: 180px;
}
.custom-text h2,
.alat-text h2 {
  font-size: 28px;
}
.investors {
  background-image: url(Assets/purple-background.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  padding: 30px 20px;
}
.investor-relations {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  margin-top: 30px;
}
.investor-img img {
  width: 100%;
  max-width: 900px;
}
.investor-text {
  color: #d1d5db;
  margin-left: 10px;
}
.investor-text h3 {
  font-size: 15px;
  font-weight: 600;
}
.investor-text h2 {
  font-size: 38px;
  font-weight: 400;
  color: #f8fbff;
}
.investor-text p {
  font-size: 14px;
}

.trade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.purple {
  font-size: 22px;
  font-weight: 600;
  color: #ec49de;
  font-family: "inter tight";
}
.sustainability {
  padding: 35px 0;
  background-color: rgba(175, 173, 173, 0.074);
}
.sustainability-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 100px);
  gap: 15px;
  width: 100%;
  max-width: 588px;
  margin-right: 100px;
  margin-top: 20px;
}
.sustainability-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.grid-1,
.grid-3 {
  grid-row: span 2;
}
.testimonial {
  padding: 40px 40px;
}
.testimonial-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 20px;
}
.testimonial h1,
.blog h1, .video h1 {
  font-size: 27px;
  font-family: "inter tight";
  font-weight: 700;
  margin-bottom: 25px;
}
.testimonial p {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 50px;
}
.testimonial h5 {
  font-size: 15px;
  font-weight: bold;
}
.download {
  background-image: url(Assets/purple-background.png);
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  padding-top: 40px;
  color: white;
}
.download-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.download-text h5 {
  /* margin-bottom: 20px; */
  font-size: 19px;
}
.top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white;
  font-size: 15px;
  font-weight: 300;
}
.top-text svg {
  margin-bottom: 10px;
}
.star {
  position: absolute;
  top: 55px;
  left: 350px;
}
.plane {
  position: absolute;
  bottom: 10px;
  right: 120px;
}
.curve {
  position: absolute;
  bottom: 0;
}
.download-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  bottom: 20px;
  left: 300px;
}
.download-links img {
  width: 80%;
}
.bottom-text {
  position: absolute;
  bottom: 40px;
  right: 250px;
}
.bottom-text p {
  font-size: 15px;
  margin-bottom: 30px;
}
.bottom-text button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 6px;
  padding: 10px;
  color: white;
  font-weight: 600;
}
.blog{
  padding: 100px 50px;
  background-color: #faf7f7;

}
.article {
  display: flex;
  gap: 10px;
  align-items: center;
}
.article-text {
  color: #981d87 !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  padding: 9px;
  border-radius: 40px;
  background-color: #ec49de15;
}
.blog-content {
  display: flex;
  padding: 15px;
  margin-top: 50px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.08);
  border: 1px solid #6c757d39;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.blog-text h4 {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  font-family: "inter tight";
}
.blog-text p {
  font-size: 14px;
  color: #6c757d;
}
.alert-btn {
  padding: 15px 20px;
  font-weight: 600;
  border-radius: 30px;
  background-color: transparent;
  color: #981d87;
  border: 1px solid #6c757d39;
  margin-top: 15px;
}
.blog-img{
  width: 100%;
}
.blog-text{
  width: 100%;
}
.blog-img img {
  width: 100%;
  max-width: 600px;
}

.blog-mini-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.blog-content-2 {
  background: white;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border: 1px solid #6c757d39;
}

.blog-img-2 {
  width: 100%;
  height: 220px; /* Fixed height for all images */
  overflow: hidden;
  position: relative;
}

.blog-img-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes all images same size */
  object-position: center;
  display: block;
}

.blog-text-2 {
  padding: 10px;
}
.blog-text-2 h4 {
  font-size: 15px;
  font-weight: 600;
  font-family: "inter tight";
}
.blog-text-2 p {
  font-size: 13px;
  color: #6c757d;
}
.video{
  padding: 100px 50px;
}
.yvideo{
   display: flex;
  padding: 15px;
  margin-top: 50px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.08);
  border: 1px solid #6c757d39;
  justify-content: center;
  align-items: center;
}
.footer{
  background-image: url(Assets/purple-background.png);
  /* height: 600px; */
  padding: 40px;
  display: flex;
  gap: 20px;
}
.f-left{
color: white;
display: flex;
flex-direction: column;
font-family: 'inter tight';
width: 23%;
}
.logo-2{
  width: 60%;
  margin-bottom: 20px;
}
.f-left a{
  margin: 6px;
  text-decoration: none;
}
.f-left i{
  font-size: 20px;
  color: white;
}
.cbn{
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 17px;
}
.download-links-2 {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
  
}
.download-links-2 img {
  width: 40%;
}
.all-rights{
  margin-top: 120px;
  color: white;
}
.footer-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13px;
}
.footer-grid a{
  display: block;
  text-decoration: none;
  color: rgba(219, 217, 217, 0.804);
  font-size: 13px;
  margin: 10px;
}
.footer-grid h6{
  color: white;
  font-size: 13px;
  font-weight: 600;
  margin-left: 10px;
}
.footer-grid a:hover{
 color: #ec49de;
}
.footnote{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.footnote h5{
  font-size: 14px;
  color: #9C3398;
}





/* media */
@media (max-width: 768px) {
  .smebanking,
  .custom-card,
  .alatpay,
  .investor-relations {
    flex-direction: column;
  }
  .nav-2{
    display: none;
  }

   .card-section {
    display: grid;
    grid-auto-flow: column;
    /* Define a fixed width for the items so they don't shrink to 0 */
    grid-auto-columns: 80%; 
    
    /* Enable horizontal scrolling */
    overflow-x: auto;
    overscroll-behavior-x: contain;
    
    /* Optional: Improves the feel on mobile */
    scroll-snap-type: x mandatory;
    gap: 16px;
    padding: 20px;
    }
.mini-cards{
  display: none;
}
.slider1, .slider3, .slider4{
  flex-direction: column;
  height: 900px;
  gap: 10px;
}
.slider1left, .slider1right, .slider3left, .slider3right{
  width: 100%;
  flex: 1;
}
.slider1left img, .slider1right img, .slider3left img, .slider3right{
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
.slider4left{
  width: 100%;
  flex: 1;
}
.slider4right{
  width: 100%;
  flex: none;
  /* height: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide4right img{
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
.blog-content{
  flex-direction: column;
}
 .blog-mini-cards {
    grid-template-columns: repeat(1, 1fr);}
.footer{
  flex-direction: column;
}
}

